*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(73, 136, 136);
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    background-color: rgb(57, 57, 124);
    
}
header input{
    margin-top: 15px;
    height: 25px;
}
header button{
    background-color: yellow;
    height: 25px;
}
#home{
    display: flex;
    background-color: aquamarine;
    
}
#secondcol{
    background-image: url(backgroundImage.jpg);
    /* background-repeat: repeat; */
    background-size: cover;
    width: 90%;
}
#home>div>h2{
    color: aliceblue;
}
#home>div{
    display: grid;
    margin-right: 25px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blueviolet;
}
footer img{
    width: 50px;
    height: 50px;
}
#mobiles1{
    display: flex;
   flex-direction: row;
}
#mobiles1>div>img{
    display: flex;
   border: 1px solid black;
   width: 250px;
    height: 250px;
    justify-content: space-evenly;
}
#mobiles1>div{
    display: inline-block;
    margin-right: 25px;
    background-color: rgb(186, 228, 214);
}
#mobiles1>div>h4{
    text-align: center;
    text-transform: uppercase;
}

/* for mobile screen */
@media{max-width: 400px;} {

   #navigation{
height: 80px;
   } 

#mobiles1>div>img{
border:1px solid blue ;
width: 150px ;
height: 150px;
justify-content: space-evenly;
}
#mobile>div{
display:flex;
margin-right: 10px;
}

}